.container {
  color: #101828;
  position: relative;
  width: 320px;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
}

.label {
  color: #8d929a;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 8px;
}

.minInput {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: left;
  align-items: center;
  width: 160px;
  padding: 12px 16px;
  border-radius: 12px 0px 0px 12px;
  border-right: 1px solid #dadde1;
  cursor: pointer;
  background: #f7f7f7;
}

.maxInput {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: left;
  align-items: center;
  width: 160px;
  padding: 12px 16px;
  border-radius: 0px 12px 12px 0px;
  cursor: pointer;
  background: #f7f7f7;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
}
