body {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
