.container {
  width: 100%;
  height: calc(100vh - 68px);
  background-image: url(../../icons/Picture-min.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
}
.content {
  max-width: 843px;
  padding-bottom: 60px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  color: #fff;
  margin-bottom: 16px;
}

.text {
  color: #fff;
  margin-bottom: 40px;
}

.btn {
  width: 276px;
  height: 44px;
  background-color: #3470ff;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 12px;
}
